html{
    scroll-behavior: auto !important;
}

body {
    /* para ver si está integrado el css */
    /* display: none; */ 
    font-family: 'Baumans', cursive;   
    margin: 0px;
    background: black; 
    
}

.navbar{
    /* position: fixed; */
    width: 100vw;
    /* z-index: 1; */
    
}



#Quienes-somos{

    /* border: 1px solid #fff; */
    padding: 30px;
    padding-bottom: 60px;
}

#tres-columnas{
    /* border: 1px solid #fff; */
    /* padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px;
    margin-right: 40px; */
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
   
}

#tres-columnas p{
   color: white;
}

#tres-columnas i{
    /* border: 1px solid red; */
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    
}

#Destacados{

    /* border: 1px solid #fff; */
    padding: 50px;
}

#Cards {
    /* padding-left: 100px;
    padding-right: 100px; */
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}

#Cards .card{
    border: 1px solid #fff;
}


#Contacto{

    /* border: 1px solid #fff; */
    padding: 50px;
}

#formulario{
    color: #fff;
    /* padding-left: 100px;
    padding-right: 100px; */
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;

    padding-bottom: 50px;
}

/* footer{
    color: #fff;
    
    
} */

footer a{
    color: #fff;
    text-decoration: none;
}
/* .navbar-brand{
    font-family: 'Baumans', cursive;
    font-size: 20px;
    font-weight: bold;
} */



