body {
    /* para ver si está integrado el css */
    /* display: none; */ 
    font-family: 'Baumans', cursive;   
    background: black; 
    
}

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#Quienes-somos{

    /* border: 1px solid #fff; */
    padding: 40px;
}

#tres-columnas{
    /* border: 1px solid #fff; */
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
   
}


/* .navbar-brand{
    font-family: 'Baumans', cursive;
    font-size: 20px;
    font-weight: bold;
} */



