body {
    /* para ver si está integrado el css */
    /* display: none; */ 
    font-family: 'Baumans', cursive;    
    
}

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 1;
}


/* .navbar-brand{
    font-family: 'Baumans', cursive;
    font-size: 20px;
    font-weight: bold;
} */



